Multi_Channel_Inventory_Reconciliation/Multi Inventory Reconciliation.json
{
  "name": "Multi Inventory Reconciliation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        1104
      ],
      "id": "961f6d33-863c-40ae-af86-97c9b478ccb5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://100.88.162.80:3000/webhook/inventory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "i",
              "value": "amazon"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        816
      ],
      "id": "5d1befa6-bdae-42ee-8dd3-abb79e6942f5",
      "name": "Fetch AMAZON Inventory"
    },
    {
      "parameters": {
        "url": "http://100.88.162.80:3000/webhook/inventory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "i",
              "value": "tiktok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        624
      ],
      "id": "cb282178-d56a-441b-8725-fa4f9640b5a3",
      "name": "Fetch TIKTOK Inventory"
    },
    {
      "parameters": {
        "url": "http://100.88.162.80:3000/webhook/inventory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "i",
              "value": "ebay"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        1008
      ],
      "id": "f500ce10-3801-41cd-843d-38f2b4848554",
      "name": "Fetch EBAY Inventory"
    },
    {
      "parameters": {
        "url": "http://100.88.162.80:3000/webhook/inventory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "i",
              "value": "etsy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        1200
      ],
      "id": "b179b077-ead3-4d69-98de-2b1286b6b8aa",
      "name": "Fetch ETSY Inventory"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        880
      ],
      "id": "d5d9be73-8089-4289-adb7-bc1ef5067ed7",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json;\n    const timestamp = new Date().toISOString();\n\n    // Shopify\n    if (data.inventory_levels) {\n      for (const inv of data.inventory_levels) {\n        output.push({\n          json: {\n            channel: \"shopify\",\n            sku: inv.inventory_item_id,\n            quantity: inv.available,\n            snapshot_time: timestamp\n          }\n        });\n      }\n    }\n    // Amazon\n    else if (data.payload?.inventorySummaries) {\n      for (const inv of data.payload.inventorySummaries) {\n        output.push({\n          json: {\n            channel: \"amazon\",\n            sku: inv.sellerSku,\n            quantity: inv.inventoryDetails.fulfillableQuantity,\n            snapshot_time: timestamp\n          }\n        });\n      }\n    }\n    // eBay\n    else if (data.responses) {\n      for (const inv of data.responses) {\n        output.push({\n          json: {\n            channel: \"ebay\",\n            sku: inv.sku,\n            quantity: inv.availability.shipToLocationAvailability.quantity,\n            snapshot_time: timestamp\n          }\n        });\n      }\n    }\n    // Etsy\n    else if (data.products) {\n      for (const inv of data.products) {\n        output.push({\n          json: {\n            channel: \"etsy\",\n            sku: inv.sku,\n            quantity: inv.offerings[0].quantity,\n            snapshot_time: timestamp\n          }\n        });\n      }\n    }\n    // TikTok\n    else if (data.data?.inventory_info) {\n      for (const inv of data.data.inventory_info) {\n        output.push({\n          json: {\n            channel: \"tiktok\",\n            sku: inv.sku_id,\n            quantity: inv.inventory[0].available_quantity,\n            snapshot_time: timestamp\n          }\n        });\n      }\n    }\n  } catch (e) {\n    console.log('Parse error:', e.message);\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        912
      ],
      "id": "6e9356bb-4c26-41bb-bb8a-a72f70480c25",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inventory_snapshots (sku, channel, quantity, snapshot_time)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (sku, channel) DO UPDATE SET\n  quantity = $3,\n  snapshot_time = $4;",
        "options": {
          "queryReplacement": "={{ $json.sku }},{{ $json.channel }},{{ $json.quantity }},{{ $json.snapshot_time }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        720
      ],
      "id": "983f9f6a-8775-4289-8061-c77713db2b25",
      "name": "Insert Snapshot",
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM master_inventory\nWHERE sku = $1;",
        "options": {
          "queryReplacement": "={{ $json.sku }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        1104
      ],
      "id": "26a396f4-7dcb-45f0-a87d-00643b792508",
      "name": "Query Master Inventory",
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const api = $('Loop Over Items').item.json;   // this iteration's channel/sku/quantity\nconst master = $input.item.json;              // this iteration's master row\n\nif (!master || !master.sku) {\n  return {\n    json: {\n      sku: api.sku,\n      channel: api.channel,\n      master_quantity: null,\n      channel_quantity: api.quantity,\n      difference: null,\n      status: \"UNKNOWN_SKU\",\n      remarks: \"SKU not found in master inventory\"\n    }\n  };\n}\n\nconst difference = api.quantity - master.master_quantity;\n\nreturn {\n  json: {\n    sku: api.sku,\n    channel: api.channel,\n    master_quantity: master.master_quantity,\n    channel_quantity: api.quantity,\n    difference,\n    status: difference === 0 ? \"MATCH\" : Math.abs(difference) <= 2 ? \"MONITOR\" : \"DISCREPANCY\",\n    remarks: `Master: ${master.master_quantity}, ${api.channel}: ${api.quantity}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1104
      ],
      "id": "d451b767-4e2e-42b1-9567-76a802beee7b",
      "name": "Reconcile"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (sku, channel, action, old_quantity, new_quantity, status, remarks, created_at)\nVALUES ($1, $2, 'SNAPSHOT', $3, $4, $5, $6, NOW());",
        "options": {
          "queryReplacement": "={{ $json.sku }},{{ $json.channel }},{{$json.master_quantity}},{{$json.channel_quantity}},{{$json.status}},{{$json.remarks}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        1104
      ],
      "id": "b427d833-127c-43ea-a52e-6dfaac48ceec",
      "name": "Log to Audit",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "path": "9265bad0-09f3-410a-9280-1bed7ca862ec",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        1616
      ],
      "id": "88f13fcd-9b85-4a13-9499-c81a6a264e3a",
      "name": "Webhook",
      "webhookId": "9265bad0-09f3-410a-9280-1bed7ca862ec"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    m.sku,\n    m.product_name,\n    m.master_quantity,\n    MAX(CASE WHEN s.channel='shopify' THEN s.quantity END) AS shopify,\n    MAX(CASE WHEN s.channel='amazon' THEN s.quantity END) AS amazon,\n    MAX(CASE WHEN s.channel='ebay' THEN s.quantity END) AS ebay,\n    MAX(CASE WHEN s.channel='etsy' THEN s.quantity END) AS etsy,\n    MAX(CASE WHEN s.channel='tiktok' THEN s.quantity END) AS tiktok\nFROM master_inventory m\nLEFT JOIN inventory_snapshots s ON m.sku = s.sku\nGROUP BY m.sku, m.product_name, m.master_quantity\nORDER BY m.sku;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        1616
      ],
      "id": "e94c8ee8-688f-4f2c-bc8d-3470d88b9907",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const products = [];\n\nfor (const item of $input.all()) {\n  const p = item.json;\n\n  const channels = {\n    shopify: p.shopify,\n    amazon: p.amazon,\n    ebay: p.ebay,\n    etsy: p.etsy,\n    tiktok: p.tiktok,\n  };\n\n  const values = Object.values(channels).filter(v => v !== null && v !== undefined);\n\n  const hasMissing = Object.values(channels).some(v => v === null || v === undefined);\n\n  let status = \"match\";\n  let drift = 0;\n\n  if (values.length) {\n    drift = Math.max(...values) - Math.min(...values);\n  }\n\n  if (hasMissing) {\n    status = \"no_data\";\n  } else if (drift > 2) {\n    status = \"critical\";\n  } else if (drift > 0) {\n    status = \"monitor\";\n  }\n\n  const matchedChannels = values.filter(v => v === p.master_quantity).length;\n\n  products.push({\n    sku: p.sku,\n    product: p.product_name,\n    master: p.master_quantity,\n    channels,\n    drift,\n    matchedChannels,\n    status,\n  });\n}\n\nconst summary = {\n  total: products.length,\n  matched: products.filter(p => p.status === \"match\").length,\n  monitored: products.filter(p => p.status === \"monitor\").length,\n  critical: products.filter(p => p.status === \"critical\").length,\n};\n\nreturn [\n  {\n    json: {\n      products,\n      summary,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1616
      ],
      "id": "f2e00871-afe3-4963-bd99-c01174916277",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -464,
        1616
      ],
      "id": "60f93fe4-908f-4990-a6d7-ae649523268e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        1008
      ],
      "id": "1a197de6-ec63-4fe8-8d92-6d7bc17e6056",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        720
      ],
      "id": "9066505c-172c-4ab1-ac03-2d168dc4f14a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sku",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        720
      ],
      "id": "d5fafe1e-36bb-41ff-9752-d98b9bfd2e77",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sku",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        1008
      ],
      "id": "a79f2d07-56c6-4b30-9f07-96c5649ebd4c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BFB9LTWSC",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1328,
        912
      ],
      "id": "09adb289-9f89-40b0-bad7-b5cc20e561b3",
      "name": "Send a message",
      "webhookId": "71a8f6fa-9192-49d5-a783-5897702ad9f1",
      "credentials": {
        "slackApi": {
          "id": "KxQ64P96WWIDoIqs",
          "name": "Slack_account_ai.souvik"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let message = `🚨 Inventory Discrepancies (${items.length})\\n\\n`;\n\nfor (const item of items) {\n  if (item.json.status === \"DISCREPANCY\") {\n    message += `${item.json.sku} | ${item.json.channel} | ${item.json.master_quantity} → ${item.json.channel_quantity}\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    text: message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        912
      ],
      "id": "18faf5e6-92b3-4b1b-a917-cfe39fff3f37",
      "name": "Prepare_Report"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    sku,\n    channel,\n    old_quantity AS master_quantity,\n    new_quantity AS channel_quantity,\n    status,\n    remarks\nFROM audit_log\nWHERE sku = $1\nORDER BY created_at DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Reconcile').item.json.sku }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        1104
      ],
      "id": "9a6e4ac3-50dc-4d92-96b1-e0501db0a1d1",
      "name": "Retrive Data",
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE master_inventory\nSET master_quantity = $1, updated_at = NOW()\nWHERE sku = $2 AND master_source = 'shopify';",
        "options": {
          "queryReplacement": "={{ $json.quantity }},{{ $json.sku }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        1392
      ],
      "id": "4f63558e-1677-4223-97da-18748c6af307",
      "name": "Sync Master From Source",
      "credentials": {
        "postgres": {
          "id": "XvU8srQhM0siFrj7",
          "name": "Postgres account minventory"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (data.inventory_levels) {\n    for (const inv of data.inventory_levels) {\n      output.push({\n        json: {\n          sku: inv.inventory_item_id,\n          quantity: inv.available\n        }\n      });\n    }\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1104
      ],
      "id": "d3c17468-9a2a-463a-ae50-363c6a2d3241",
      "name": "Extract Master Inventory"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sku",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -464,
        1104
      ],
      "id": "0399c6da-1c14-414d-88b4-b8086258da18",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        1104
      ],
      "id": "cefeaa59-903f-4bf8-a22d-aa0fa196e7e3",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "url": "http://100.88.162.80:3000/webhook/inventory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "i",
              "value": "master"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        1104
      ],
      "id": "3b2f74c8-05d8-4f12-a783-c419df7d0780",
      "name": "Fetch Master Inventory"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Master Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AMAZON Inventory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch TIKTOK Inventory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch EBAY Inventory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch ETSY Inventory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Master Inventory": {
      "main": [
        [
          {
            "node": "Reconcile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconcile": {
      "main": [
        [
          {
            "node": "Log to Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Prepare_Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Master Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Audit": {
      "main": [
        [
          {
            "node": "Retrive Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Insert Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Snapshot": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Prepare_Report": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrive Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Master From Source": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Master Inventory": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Fetch ETSY Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch EBAY Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch AMAZON Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch TIKTOK Inventory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync Master From Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Master Inventory": {
      "main": [
        [
          {
            "node": "Extract Master Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4d411019-32ef-4724-aaa8-fea71c145aaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41f2db6a31ec88fa3bb255e88f46e25c0eb8c38cb580272c45cd7d20fe13719a"
  },
  "nodeGroups": [],
  "id": "mDCIDRXnz8RkSjXx",
  "tags": []
}